<%- include("partials/header.ejs") %>

<main>
  <div class="container">
    <div class="post single">
      <div>
        <h2 id="postTitle">About this blog</h2>
        <p id="postBody">
          This blog is a testament to the perseverance and ingenuity of its author. despite many challenges he has not given up and built this beatiful space for you to explore everyone's beatiful ideas.
        </p>
      </div>
    </div>
  </div>
</main>

<%- include("partials/footer.ejs") %>