<%- include("partials/header.ejs") %>

<main>
    <div class="container">
        <div class="newPost post">
            <form action="/submit" method="post">
                <input name="postTitle" id="postTitle" type="text" placeholder="Post title">
                <textarea name="postBody" id="postBody" placeholder="Type your post"></textarea>
                <input id="postSubmit" type="submit" value="POST!">
            </form>
        </div>
    </div>
</main>

<%- include("partials/footer.ejs") %>